.btn{
 margin-right: 0.5rem;
}
.buttons{
  position: absolute;
  right: 0;
  bottom: 0.5rem;
}
.fade-enter{
opacity: 0.01;
}
.fade-enter-active{
opacity: 1;
transition: opacity 1000ms ease-in;
}
.fade-exit{
  opacity: 1;
}
.fade-exit-active{
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
.block{
  height: 50vh;
  width: 100%;
  background-image: url(static/lamp.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -3rem;
  margin-bottom: 2rem;
}
.footer{
  width: 100%;
  height: 10vh;
  background-color: #343a40;
  margin-top: 2rem;
}
.footer__links{
  display: flex;
  height: 100%;
  margin-left: 6.5vw;
  align-items: center;
  
}
.link{
  color: #fff;
}
.link-last{
  color: #75817f;
  
}
.box{
  margin-left: 2rem;
}
.list-item{
  overflow-x: auto;
}
@media screen and (max-width: 600px) {
  .buttons{
    display: flex;
    flex-direction: column;
  }
  .btn{
    margin-top: 0.5rem;
  }
  }